/** 
 * Main CSS for the Internet Just League module.  Mostly for badges.
 */
.ijl_ribbon_right_badge {
  position: fixed;
  right: 0;
  top: 200px;
}
.ijl_ribbon_left_badge {
  position: fixed;
  left: 0;
  top: 200px;
}